<h1>products listing</h1>
<h3><%= link_to "new product", new_product_path()%></h3>
<hr>

<% @product.each do |product| %>
  <h3><%= link_to product.title, product_path(product) %></h3>
    <p><%= product.user.first_name %></p>
  <hr>
<% end %>
